<!DOCTYPE html>
<html>
<head>
    <title>Teste de CORS</title>
</head>
<body>
    <button id="testCORS">Testar CORS</button>

    <script>
        document.getElementById('testCORS').addEventListener('click', () => {
            fetch('http://localhost:5000/ping')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('A solicitação falhou.');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Resposta da API:', data);
                })
                .catch(error => {
                    console.error('Erro de CORS:', error.message);
                });
        });
    </script>
</body>
</html>

<H1>
    Ao dev [para testar se está funcionando o cors da aplicação basta seguir os passos]
</H1>

<p>1.0  Substituir'http://localhost:5000/ping' pelo URL real da rota você irá usar </p>

<p>1.2 Arrasta  o arquivo HTML no seu navegador</p>
<p>1.3 Clica ai no botão "Testar CORS DA APLICAÇÃO". </p>
<p>1.4 O JavaScript fará uma solicitação GET para a api  em http://localhost:5000.</p>
<p>1.5 Verifica se no o console do navegador para ver a resposta da API ou qualquer erro de CORS.</p>

<p> exemplificando quando da ruim a resposta do console fica em vermelho e com a mensagem de bloqueio de cors como erro faltou o cabeçalho AccessControlAllowOrigin </p>